:root {
  /* Color */

  --color-black: #0d0d0d;
  --color-primary: #212529;
  --color-gray: #808080;
  --color-gray-30: #f8f8f8;
  --color-error: #c10c2b;
  --color-accent: #37dbff;
  --color-white: #ffffff;

  /* Fonts */
  --font-mono: 'Roboto Mono', monospace;
  --font-flex: 'Roboto Flex', sans-serif;

  /* Font size */
  --size-text-6xs: 10px;
  --size-text-5xs: 12px;
  --size-text-4xs: 13px;
  --size-text-3xs: 14px;
  --size-text-2xs: 15px;
  --size-text-xs: 16px;
  --size-text-s: 17px;
  --size-text-m: 18px;
  --size-text-l: 20px;
  --size-text-xl: 22px;
  --size-text-2xl: 24px;
  --size-text-3xl: 26px;
  --size-text-4xl: 32px;
  --size-text-5xl: 36px;
  --size-text-6xl: 40px;
  --size-text-7xl: 64px;
  --size-text-8xl: 76px;

  /* Line height */
}
