*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-primary);
  background: var(--color-white);

  line-height: 1.6;
  font-family: var(--font-mono);
}
