* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  color: inherit;
  border: 0;
  border-radius: 0;
  background: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  min-height: 100vh;
  color: var(--color-primary);
  background: var(--color-white);

  line-height: 1.6;
  font-family: var(--font-mono);
}
